/* ----------------------------------------------------- */
/* -------------- SEÇÃO DE IMPORTAÇÕES ----------------- */
/* ----------------------------------------------------- */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* ----------------------------------------------------- */
/* ----------- SEÇÃO DE CONFIGURAÇÕES GERAIS ----------- */
/* ----------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  height: 3016px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.content__container {
  height: 100%;
}

/* VARIABLES */

:root {
  /* HEADER */
  --header-height: 739px;
  --navbar-padding: 28px 90px 0 59px;
  --navbar-font-size: 22px;
  --navbar-font-weight: 600;
  --navber-a-container-flex: 0 1 615px;
  --navbar-a-container-display: flex;
  --content-margin: 140px 85px 0 59px;
  --content-display: flex;
  --description-margin: 40px 0 0 0;
  --description-width: 50%;
  --description-h1-size: 30px;
  --description-p-size: 20px;
  --description-h1-line-height: 45px;
  --description-h1-mb: 22px;
  --finish-button-margin-b: 33px;

  /* FORM */
  --form-width: 571px;
  --form-height: max-content;
  --form-padding: 68px 45px 0 40px;
  --form-margin: 0;
  --form-grid-columns: repeat(3, 1fr);
  --form-finish-btn-mt: 4%;
  --form-finish-btn-mb: 10px;
  --form-finish-btn-width: 35%;
  --dynamic-number-width: 40%;

  /* SECTION 1 */
  --section-1-display: flex;
  --section-1-justify: space-between;
  --section-1-h1-size: 30px;
  --section-1-h1-lh: 50px;
  --section-1-p-size: 20px;
  --section-1-mt: 7%;
  --section-1-left-width: 35%;
  --section-1-container-height: 22%;
  --section-1-container-r-display: flex;
  --section-1-container-l-margin: 8% 6% 7% 6%;

  /* SECTION 2 */
  --section-2-justify: space-between;
  --section-2-square-width: 280px;
  --section-2-square-h1-size: 19px;
  --section-2-square-margin: 40px 0 0 0;

  /* SECTION 3 */
  --section-3-display: flex;
  --section-3-direction: row;
  --section-3-padding: 110px 0 185px 125px;
  --section-3-form-width: 60%;
  --section-3-form-h1-size: 32px;
  --section-3-form-h3-size: 16px;
  --section-3-form-h3-lh: 40px;
  --section-3-img-width: 500px;
  --section-3-img-height: 450px;
  --section-3-img-mt: 100px;
  --section-3-img-order: 0;
  --section-3-img-as: auto;

  /* FOOTER */
  --footer-padding: 60px 50px 60px 120px;
  --footer-info-size: 18px;
  --footer-direction: row;
  --footer-contact-order: 0;
  --footer-children-width: 50%;
  --footer-about-1st-p-size: 30px;
  --footer-about-p-size: 18px;
  --footer-about-p-margin: 30px 0;
  --footer-icon-size: 45px;
  --footer-icon-container-margin: 30px 0;
  --footer-about-pr: 100px;
}

@media screen and (max-width: 950px) {
  :root {
    /* HEADER */
    --header-height: max-content;
    --content-display: block;
    --content-margin: 0 85px 0 59px;
    --description-width: 70%;
    --description-margin: 40px auto 0 auto;
    --navbar-font-size: 16px;
    --navber-a-container-flex: 0 1 440px;
    --description-p-size: 1.3em;
    --description-p-lh: 1.6em;

    /* FORM */
    --form-margin: 80px auto 0 auto;
    --form-finish-btn-mb: 10px;

    /* SECTION 1 */
    --section-1-justify: center;
    --section-1-mt: 100px;
    --section-1-h1-size: 35px;
    --section-1-h1-lh: 60px;
    --section-1-p-size: 23px;
    --section-1-p-lh: 40px;
    --section-1-left-width: 65%;
    --section-1-container-height: 18%;
    --section-1-container-r-display: none;

    /* SECTION 2 */
    --section-2-justify: center;
    --section-2-square-margin: 20px;

    /* SECTION 3 */
    --section-3-padding: 0 0 145px 125px;
    --section-3-direction: column;
    --section-3-img-order: -1;
    --section-3-img-as: flex-end;
    --section-3-img-width: 350px;
    --section-3-img-height: 320px;
  }

  .section3__container .section__form {
    margin-top: -60px;
  }

  .section1__container .container__description__left--section h1,
  .section1__container .container__description__left--section p {
    text-align: center;
  }

  .section__container--content .description__container h1,
  .section__container--content .description__container p {
    text-align: center;
    text-shadow: 1px 1px 3px black;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --footer-direction: column;
    --footer-contact-order: 1;
    --footer-children-width: 100%;
    --footer-padding: 30px 40px;
    --footer-about-1st-p-size: 24px;
    --footer-about-p-size: 16px;
    --footer-about-p-margin: 20px 0;
    --footer-icon-size: 28px;
    --footer-info-size: 16px;
    --footer-icon-container-margin: 18px 0;
  }

  .footer__container .about {
    margin-bottom: 30px;
  }

  .footer__container .contact .logo {
    width: 110px;
  }
}

@media screen and (max-width: 750px) {
  :root {
    /* HEADER */
    --navbar-padding: 20px 90px 0 30px;
    --navbar-a-container-display: none;
    --description-width: 85%;
    --content-margin: 0;
    --description-h1-size: 27px;

    /* FORM */
    --form-width: 88%;
    --form-height: none;
    --form-grid-columns: repeat(2, 50%);
    --form-padding: 68px 45px 40px 40px;
    --form-finish-btn-mt: 10%;
    --form-finish-btn-mb: 10px;
    --dynamic-number-width: 25%;
    --form-finish-btn-width: 100%;

    /* SECTION 1 */
    --section-1-mt: 10%;
    --section-1-left-width: 86%;
    --section-1-h1-size: 27px;
    --section-1-h1-lh: 38px;
    --section-1-p-size: 20px;
    --section-1-p-lh: 30px;
    --section-1-container-height: 23%;

    /* SECTION 2 */
    --section-2-square-margin: 50px 20px;
    --section-2-square-h1-size: 22px;

    /* SECTION 3 */
    --section-3-padding: 0 0 50px 0;
    --section-3-img-mt: 50px;
    --section-3-img-width: 280px;
    --section-3-img-height: 260px;
    --section-3-form-width: 100%;
    --section-3-form-h3-lh: 26px;

    /* FOOTER */
    --footer-children-width: 100%;
    --footer-about-pr: 0;
    --footer-icon-container-margin: 10px 0;
  }

  .header__container .navbar__container .logo {
    width: 100px;
  }

  .form__section .form__section--container .form__section__grid--inputs {
    margin-bottom: 50px;
  }

  .form__section__div--inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form_section_wrapper {
    flex: 0 1 48%;
  }

  .form_section_wrapper:last-of-type {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .form_section_wrapper:last-of-type .margin_wrapper {
    flex: 1;
    margin-left: 10px;
  }

  .section1__container .container__description__left--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section1__container .container__description__left--section h1 {
    margin-bottom: 30px;
  }

  .section1__container .container__description__left--section p {
    margin: 0 10%;
  }

  .section3__container .section__form {
    margin-top: 20px;
    align-items: center;
  }

  .section3__container img {
    margin-bottom: 15px;
  }

  .section3__container .section__form h3 {
    text-align: center;
    padding: 0 22px;
  }

  .footer__container .about p {
    text-align: center;
  }

  .footer__container .about .icons-container {
    display: flex;
    justify-content: center;
  }

  .footer__container .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__container .about .icons-container a:first-of-type {
    margin-right: 15px;
  }

  .footer__container .about .icons-container a img {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --description-h1-size: 22px;
    --description-h1-line-height: 35px;
    --form-padding: 40px 15px 40px 15px;
    --description-p-size: 18px;
    --description-p-lh: 23px;
    --form-margin: 40px auto 0 auto;
  }
}

@media screen and (max-width: 350px) {
}

/* ----------------------------------------------------- */
/* ---------------- SEÇÃO DE ESTILIZAÇÃO --------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* ------------- ESTILIZAÇÃO HEADER (1ª SEÇÃO) --------- */
/* ----------------------------------------------------- */

.header__container {
  height: var(--header-height);
  width: 100%;
  background: url('./assets/background_header.jpeg') no-repeat;
  background-size: cover;
}

.header__container .navbar__container {
  display: flex;
  justify-content: space-between;
  padding: var(--navbar-padding);
}

.header__container .navbar__container .anchor__container {
  display: var(--navbar-a-container-display);
  flex: var(--navber-a-container-flex);
  align-items: center;
  justify-content: space-evenly;
}

.header__container .navbar__container .anchor__container a {
  text-align: center;
  color: white;
  text-decoration: none;
  align-items: center;
  font-size: var(--navbar-font-size);
  font-weight: var(--navbar-font-weight);
  letter-spacing: 0.2px;
}

.section__container--content {
  margin: var(--content-margin);
  display: var(--content-display);
  justify-content: space-between;
  height: 70%;
}

.section__container--content .description__container {
  color: #fff;
  margin: var(--description-margin);
  width: var(--description-width);
}

.section__container--content .description__container h1 {
  font-size: var(--description-h1-size);
  line-height: var(--description-h1-line-height);
  margin-bottom: var(--description-h1-mb);
}

.section__container--content .description__container p {
  font-size: var(--description-p-size);
  line-height: var(--description-p-lh);
  letter-spacing: 0.4px;
  font-weight: 600;
}

.section__container--content .form__section {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  user-select: none;
  width: var(--form-width);
  height: var(--form-height);
  padding: var(--form-padding);
  margin: var(--form-margin);
  z-index: 1;
}

.section__container--content .form__section .form__section--container {
  display: flex;
  flex-direction: column;
}

.section__container--content .form__section .form__section--container h1 {
  font-weight: 800;
  font-size: 2em;
  line-height: 100%;
  margin-bottom: 6%;
}

.section__container--content .form__section .form__section--container label {
  color: #656565;
  align-self: end;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input {
  border: 1px solid #cacaca;
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input--error {
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
  border: 1px solid #e36262;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input--placeholder--error::-webkit-input-placeholder {
  font-size: 12px;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input--error::placeholder {
  color: #e36262;
}

.form__section .form__section--container .form__section__grid--inputs {
  display: grid;
  grid-template-columns: var(--form-grid-columns);
  grid-template-rows: repeat(2, 50%);
}

.form__section .form__section--container .error-message {
  color: #e36262;
  margin-bottom: 15px;
}

.default_input {
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
  margin-top: 5px;
}

.price_input {
  padding-left: 27px;
  font-size: 15px;
}

.price_prefix {
  position: absolute;
  margin-top: 30px;
  margin-left: -93px;
}

.form_section_wrapper {
  width: 32%;
  display: inline-block;
  margin-right: 3px;
}

.form__section__div--inputs {
  margin-top: 12px;
}

.form__section .form__section--container .form__section__grid--inputs label {
  align-self: center;
  height: 45%;
  margin-left: 2px;
}

.change_number_button {
  height: 23px;
  width: 23px;
  align-self: center;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 2px;
  font-weight: 600;
  color: #136299;
}

.dynamic_number_input {
  width: var(--dynamic-number-width);
  height: 100%;
  background-color: white;
  border: none;
  padding-left: 18%;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  text-align: center;
}

.change_number_button:hover {
  cursor: pointer;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--date {
  background-image: url('../assets/vectors/calendar_icon_placeholder.png');
  background-repeat: no-repeat;
  background-position: 96%;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 96%;
}

.form__section__grid--inputs
  .input--date--error::-webkit-datetime-edit-day-field,
.form__section__grid--inputs
  .input--date--error::-webkit-datetime-edit-month-field,
.form__section__grid--inputs
  .input--date--error::-webkit-datetime-edit-year-field,
.form__section__grid--inputs .input--date--error::-webkit-datetime-edit-text {
  color: #e36262;
}

.form__section__grid--inputs .input--date::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: 11.6%;
  height: 3.1%;
  left: 54.8%;
  position: absolute;
}

.form__section__grid--inputs .input--date::-webkit-inner-spin-button {
  display: none;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .select--city {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  border: 1px solid #cacaca;
  border-radius: 2px;
  width: 96%;
  outline: none;
  font-size: 1em;
  padding: 2px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .div--button__script {
  display: flex;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .div--button__script
  img {
  width: 24px;
  height: 17px;
  align-self: center;
  margin-left: 14%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--value {
  width: 40%;
  height: 100%;
  background-color: white;
  border: none;
  text-align: center;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .form__element--button {
  cursor: pointer;
  width: 14%;
  height: 74%;
  align-self: center;

  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 2px;
  font-weight: 600;
  color: #136299;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .form__element--labelPlaceholder {
  position: absolute;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .label--minPricePlaceholder {
  left: 740px;
  top: 554px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .label--maxPricePlaceholder {
  left: 918px;
  top: 554px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--minPrice {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 96%;
  padding-left: 14%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--maxPrice {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 96%;
  padding-left: 14%;
}

.form__section .form__section--container .form__element--finish__button {
  cursor: pointer;
  width: var(--form-finish-btn-width);
  padding: 2%;
  background-color: #136299;
  margin-top: var(--form-finish-btn-mt);
  color: #fff;
  border: none;
  font-weight: bold;
  letter-spacing: 1.25px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  outline: none;
  align-self: flex-end;
  display: disabled;
  margin-bottom: var(--form-finish-btn-mb);
}

.form__section
  .form__section--container
  .form__element--finish__button:disabled {
  background: #e3dede !important;
  color: #bab8b8;
}

.container__confirm--submit {
  display: flex;
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__confirm--submit p {
  margin-top: 18%;
  font-size: 20px;
}

.container__confirm--submit .external__circle {
  position: absolute;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  width: 12%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinHourly 1.5s infinite;
}

.container__confirm--submit .internal__circle {
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 50%;
  width: 8%;
  height: 16%;
  transition: 300ms;
  animation: spinHourly 1.5s infinite reverse;
}

.container__confirm--submit img {
  width: 80px;
}
#success p,
#failure p {
  text-align: center;
  margin-top: 50px;
}

.container__confirm--submit {
  display: flex;
  user-select: none;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__suggestion--submit p {
  margin-top: 18%;
  font-size: 20px;
}

.container__suggestion--submit .external__circle {
  position: absolute;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  width: 12%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinHourly 1.5s infinite;
}

.container__suggestion--submit .internal__circle {
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 50%;
  width: 8%;
  height: 16%;
  transition: 300ms;
  animation: spinHourly 1.5s infinite reverse;
}

.container__suggestion--submit img {
  width: 80px;
}
#success p,
#failure p {
  text-align: center;
  margin-top: 50px;
}

@keyframes spinHourly {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------------- */
/* ------ ESTILIZAÇÃO SEGUNDA SECTION (2ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section1__container {
  display: var(--section-1-display);
  justify-content: var(--section-1-justify);
  margin-top: var(--section-1-mt);
  height: var(--section-1-container-height);
}

.section1__container .container__description__left--section {
  margin: var(--section-1-container-l-margin);
  width: var(--section-1-left-width);
}

.section1__container .container__description__left--section h1 {
  font-size: var(--section-1-h1-size);
  font-weight: 800;
  color: #136299;
  line-height: var(--section-1-h1-lh);
}

.section1__container .container__description__left--section p {
  color: #000;
  font-size: var(--section-1-p-size);
  line-height: var(--section-1-p-lh);
  font-weight: 200;
}

.container__description__right--section {
  margin-top: 2%;
  display: var(--section-1-container-r-display);
  align-items: center;
}

.container__description__right--section img {
  width: 90%;
  margin-bottom: 15%;
}

/* ----------------------------------------------------- */
/* ----- ESTILIZAÇÃO TERCEIRA SECTION (3ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section2__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--section-2-justify);
  padding: 0 5%;
}

.section2__container .content__square__icon--card {
  width: var(--section-2-square-width);
  margin: var(--section-2-square-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section2__container .content__square__icon--card h1 {
  margin-top: 44px;
  font-size: var(--section-2-square-h1-size);
  color: #136299;
  font-weight: 800;
}

/* ----------------------------------------------------- */
/* ----- ESTILIZAÇÃO QUARTA SECTION (4ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section3__container {
  margin-top: 11%;
  background-color: #136299;
  display: var(--section-3-display);
  flex-direction: var(--section-3-direction);
  justify-content: space-between;
  padding: var(--section-3-padding);
}

.section3__container .section__form {
  width: var(--section-3-form-width);
  display: flex;
  flex-direction: column;
}

.section3__container .section__form h1 {
  color: #fff;
  font-size: var(--section-3-form-h1-size);
}

.section3__container .section__form h3 {
  color: #fff;
  font-size: var(--section-3-form-h3-size);
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: var(--section-3-form-h3-lh);
}

.section3__container .section__form label {
  color: white;
  margin-bottom: 6px;
  font-size: 14px;
}

.section3__container .section__form input {
  height: 38px;
  width: 80%;
  border: none;
  border-radius: 0px;
  outline: none;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 20px;
}

.section3__container .section__form textarea {
  resize: none;
  width: 80%;
  outline: none;
  padding: 6px;
  height: 72px;
  border: none;
  border-radius: 0px;
  margin-bottom: 47px;
}

.section3__container .section__form .form__submit {
  width: 136px;
  border: none;
  background-color: #fff;
  height: 33px;
  color: #2f1f2b;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  transition: ease 0.4s;
}

.section3__container .section__form .form__submit:hover {
  transition: ease 0.4s;
  cursor: pointer;
  background-color: #3b3b3b;
  color: white;
}

.section3__container .section__form .form__submit:disabled {
  background: #e3dede;
  color: #bab8b8;
}

.section3__container .section__form .error-message-secondform {
  color: #e36262;
  margin-bottom: 15px;
}

.section3__container img {
  margin-top: var(--section-3-img-mt);
  width: var(--section-3-img-width);
  height: var(--section-3-img-height);
  order: var(--section-3-img-order);
  align-self: var(--section-3-img-as);
}

/* ----------------------------------------------------- */
/* ------ ESTILIZAÇÃO FOOTER SECTION (5ª SEÇÃO) -------- */
/* ----------------------------------------------------- */

.footer__container {
  background-color: #292929;
  display: flex;
  flex-direction: var(--footer-direction);
  justify-content: space-between;
  padding: var(--footer-padding);
}

.footer__container .contact {
  width: var(--footer-children-width);
  order: var(--footer-contact-order);
}

.footer__container .contact .info-icon-container {
  display: flex;
  align-items: center;
  margin: var(--footer-icon-container-margin);
}

.footer__container .contact .info-icon-container img {
  width: var(--footer-icon-size);
}

.footer__container .contact .info-icon-container p {
  color: #fff;
  font-size: var(--footer-info-size);
  margin-left: 30px;
  font-weight: bold;
}

.footer__container .about {
  width: var(--footer-children-width);
  padding-right: var(--footer-about-pr);
}

.footer__container .about p {
  color: #6c7175;
  font-size: var(--footer-about-p-size);
  margin: var(--footer-about-p-margin);
}

.footer__container .about p:first-of-type {
  color: #fff;
  font-size: var(--footer-about-1st-p-size);
  font-weight: bold;
  margin: 0;
}

.footer__container .about .icons-container img {
  width: var(--footer-icon-size);
  margin-right: 15px;
}

.none {
  display: none;
}
