/* ----------------------------------------------------- */
/* -------------- SEÇÃO DE IMPORTAÇÕES ----------------- */
/* ----------------------------------------------------- */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* ----------------------------------------------------- */
/* ----------- SEÇÃO DE CONFIGURAÇÕES GERAIS ----------- */
/* ----------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  height: 3016px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

.content__container {
  height: 100%;
}

/* ----------------------------------------------------- */
/* ---------------- SEÇÃO DE ESTILIZAÇÃO --------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* ------------- ESTILIZAÇÃO HEADER (1ª SEÇÃO) --------- */
/* ----------------------------------------------------- */


.header__container {
  height: 23.8%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/background_header.png'), no-repeat;
}

.header__container .navbar__container {
  display: flex;
  justify-content: space-between;
  padding: 2.1% 4% 0 4.4%;
}

.header__container .navbar__container .anchor__container {
  width: 40%;
  display: flex;

  flex: 0 1 450px;
  align-items: center;
  justify-content: space-evenly;
}

.header__container .navbar__container .anchor__container a {
  text-align: center;
  color: white;
  text-decoration: none;
  align-items: center;
  font-size: 1.1em;
  letter-spacing: 0.2px;
}

.section__container--content {
  margin: 5.5% 4% 0 4.4%;
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.section__container--content .description__container {
  color: #fff;
  margin-top: 7%;
  width: 33%;
}

.section__container--content .description__container h1 {
  font-size: 30px;
  margin-bottom: 3.14%;
}

.section__container--content .description__container p {
  font-size: 1.3em;
  line-height: 1.6em;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.section__container--content .form__section {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  user-select: none;
  width: 47%;
  height: 100%;
}

.section__container--content .form__section .form__section--container {
  margin: 6% 4% 0 4%;
  display: flex;
  flex-direction: column;
  height: 90%;
}

.section__container--content .form__section .form__section--container h1 {
  font-weight: 800;
  font-size: 2em;
  line-height: 100%;
  margin-bottom: 6%;
}

.section__container--content .form__section .form__section--container label {
  color: #656565;
  align-self: end;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input {
  border: 1px solid #cacaca;
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
}

.section__container--content .form__section 
.form__section--container .form__element--input--error {
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
  border: 1px solid #e36262;
}

.section__container--content .form__section 
.form__section--container .form__element--input--placeholder--error::-webkit-input-placeholder {
  font-size: 12px;
}

.section__container--content .form__section 
.form__section--container .form__element--input--error::placeholder {
  color: #e36262;
}

.form__section .form__section--container .form__section__grid--inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
}

.form__section .form__section--container .form__section__grid--inputs label {
  align-self: center;
  height: 45%;
  margin-left: 2px;
}
    
.form__section .form__section--container .form__section__grid--inputs .input--date {
  background-image: url('../assets/vectors/calendar_icon_placeholder.png');
  background-repeat: no-repeat;
  background-position: 96%;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 96%;
}

.form__section__grid--inputs .input--date--error::-webkit-datetime-edit-day-field,
.form__section__grid--inputs .input--date--error::-webkit-datetime-edit-month-field,
.form__section__grid--inputs .input--date--error::-webkit-datetime-edit-year-field,
.form__section__grid--inputs .input--date--error::-webkit-datetime-edit-text {  
  color: #e36262;
}

.form__section__grid--inputs .input--date::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: 11.6%;
  height: 3.1%;
  left: 54.8%;
  position: absolute;
}

.form__section__grid--inputs .input--date::-webkit-inner-spin-button {
  display: none;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .select--city {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  border: 1px solid #cacaca;
  border-radius: 2px;
  width: 96%;
  outline: none;
  font-size: 1em;
  padding: 2px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .div--button__script {
  display: flex;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .div--button__script
  img {
  width: 24px;
  height: 17px;
  align-self: center;
  margin-left: 14%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--value {
  width: 40%;
  height: 100%;
  background-color: white;
  border: none;
  padding-left: 18%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .form__element--button {
  cursor: pointer;
  width: 14%;
  height: 74%;
  align-self: center;

  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 2px;
  font-weight: 600;
  color: #136299;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .form__element--labelPlaceholder {
  position: absolute;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .label--minPricePlaceholder {
    left: 740px;
    top: 554px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .label--maxPricePlaceholder {
    left: 918px;
    top: 554px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--minPrice {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 96%;
  padding-left: 14%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--maxPrice {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 96%;
  padding-left: 14%;
}

.form__section .form__section--container .form__element--finish__button {
  cursor: pointer;
  width: 35%;
  padding: 2%;
  background-color: #136299;
  margin-top: 4%;
  color: #fff;
  border: none;
  font-weight: bold;
  letter-spacing: 1.25px;
  font-family: 'Roboto';
  font-size: 16px;
  outline: none;
  align-self: flex-end;
  display: disabled;
}

.container__confirm--submit {
  user-select: none;
  position: absolute;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.container__confirm--submit p {
  margin-top: 18%;
  font-size: 20px;
}

.container__confirm--submit .external__circle {
  position: absolute;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  width: 12%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinHourly 1.5s infinite;
}

.container__confirm--submit .internal__circle {
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 50%;
  width: 8%;
  height: 16%;
  transition: 300ms;
  animation: spinHourly 1.5s infinite reverse;
}

.container__confirm--submit img {
  width: 80px;
}
#success p,
#failure p {
  text-align: center;
  margin-top: 50px;
}

/* ----------------------------------------------------- */
/* ------ ESTILIZAÇÃO SEGUNDA SECTION (2ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section1__container {
  display: flex;
  margin-top: 7%;
  height: 24.17%;
}

.section1__container .container__description__left--section {
  margin: 12% 6% 7% 6%;
  width: 50%;
}

.section1__container .container__description__left--section h1 {
  font-size: 30px;
  color: #136299;
  line-height: 50px;
  font-weight: bold;
}

.section1__container .container__description__left--section p {
  color: #000;
  font-size: 22px;
  line-height: 36px;
}

.container__description__right--section {
  width: 50%;
  margin-top: 2%; 
}

/* ----------------------------------------------------- */
/* ----- ESTILIZAÇÃO TERCEIRA SECTION (3ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section2__container {
  margin-top: 8.5%;
  padding-top: 2%;
  display: flex;
}

.section2__container .content__square__icon--card {
  display: flex;
  width: 327px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section2__container .content__square__icon--card h1 {
  font-size: 20px;
  color: #136299;
  line-height: 50px;
}

.section2__container .content__square__icon--card p {
  font-size: 16px;
  line-height: 100%;
}

/* ----------------------------------------------------- */
/* ----- ESTILIZAÇÃO QUARTA SECTION (4ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section3__container {
  margin-top: 11%;
  height: 24.2%;
  background-color: #136299;
  display: flex;
}

.section3__container .section__form {
  width: 50%;
  margin: 4% 17% 4% 6%;
  display: flex;
  flex-direction: column;
}

.section3__container .section__form h1 {
  color: #fff;
  font-size: 32px;
}

.section3__container .section__form h3 {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 300;
}

.section3__container .section__form label {
  color: white;
  margin-bottom: 6px;
  font-size: 14px;
}

.section3__container .section__form input {
  height: 38px;
  width: 80%;
  border: 2px solid #cccccc;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 20px;
}

.section3__container .section__form textarea {
  resize: none;
  width: 80%;
  outline: none;
  padding: 6px;
  height: 72px;
  border: 2px solid #cccccc;
  border-radius: 2px;
  margin-bottom: 47px;
}

.section3__container .section__form .form__submit {
  width: 136px;
  border: none;
  background-color: #fff;
  height: 33px;
  color: #2f1f2b;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.section3__container .section__image--description {
  width: 50%;
  display: grid;
  direction: rtl;
  align-items: center;
}

/* ----------------------------------------------------- */
/* ------ ESTILIZAÇÃO FOOTER SECTION (5ª SEÇÃO) -------- */
/* ----------------------------------------------------- */

.footer__container {
  height: 6.5%;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__container .container__description img {
  margin-top: 1%;
  margin-left: 4%;
}

.footer__container .container__description--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}

.footer__container .container__description--footer p {
  color: white;
  padding-left: 4%;
}

.footer__container .container__description--footer div {
  text-align: right;
}

.footer__container .container__description--footer img {
  margin-top: 4px;
  cursor: pointer;
  margin-left: 1%;
  width: 2.5%;
  filter: invert(1);
}

.footer__container .description--footer__facebook--vector {
  margin-right: 6%;
}