/* ----------------------------------------------------- */
/* -------------- SEÇÃO DE IMPORTAÇÕES ----------------- */
/* ----------------------------------------------------- */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

/* ----------------------------------------------------- */
/* ----------- SEÇÃO DE CONFIGURAÇÕES GERAIS ----------- */
/* ----------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  height: 3016px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

.content__container {
  height: 100%;
}

/* VARIABLES */

:root {
  /* HEADER */
  --header-height: 739px;
  --navbar-padding: 28px 90px 0 59px;
  --navbar-font-size: 22px;
  --navbar-font-weight: 600;
  --content-margin: 140px 85px 0 59px;
  --description-margin: 40px;
  --description-h1-size: 30px;
  --description-h1-line-height: 45px;
  --description-h1-mb: 22px;

  /* FORM */
  --form-width: 571px;
  --form-height: 545px;
  --form-padding: 68px 45px 0 40px;

  /* SECTION 1 */
  --section-1-display: flex;
  --section-1-justify: space-between;
  --section-1-h1-size: 30px;
  --section-1-p-size: 24px;

  /* SECTION 2 */
  --section-2-justify: space-between;
  --section-2-square-width: 280px;
  --section-2-square-h1-size: 20px;
  --section-2-square-p-size: 15px;

  /* SECTION 3 */
  --section-3-display: flex;
  --section-3-padding: 110px 0 185px 125px;
  --section-3-form-width: 45%;
  --section-3-form-h1-size: 32px;
  --section-3-form-h3-size: 22px;
  --section-3-img-width: 500px;
  --section-3-img-height: 450px;
  --section-3-img-mt: 100px;

  /* FOOTER */
  --footer-padding: 60px 50px 60px 120px;
}

/* ----------------------------------------------------- */
/* ---------------- SEÇÃO DE ESTILIZAÇÃO --------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* ------------- ESTILIZAÇÃO HEADER (1ª SEÇÃO) --------- */
/* ----------------------------------------------------- */

.header__container {
  height: var(--header-height);
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/background_header.png'), no-repeat;
}

.header__container .navbar__container {
  display: flex;
  justify-content: space-between;
  padding: var(--navbar-padding);
}

.header__container .navbar__container .anchor__container {
  display: flex;
  flex: 0 1 615px;
  align-items: center;
  justify-content: space-evenly;
}

.header__container .navbar__container .anchor__container a {
  text-align: center;
  color: white;
  text-decoration: none;
  align-items: center;
  font-size: var(--navbar-font-size);
  font-weight: var(--navbar-font-weight);
  letter-spacing: 0.2px;
}

.section__container--content {
  margin: var(--content-margin);
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.section__container--content .description__container {
  color: #fff;
  margin-top: var(--description-margin);
  width: 33%;
}

.section__container--content .description__container h1 {
  font-size: var(--description-h1-size);
  line-height: var(--description-h1-line-height);
  margin-bottom: var(--description-h1-mb);
}

.section__container--content .description__container p {
  font-size: 1.3em;
  line-height: 1.6em;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.section__container--content .form__section {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  user-select: none;
  width: var(--form-width);
  height: var(--form-height);
  padding: var(--form-padding);
}

.section__container--content .form__section .form__section--container {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.section__container--content .form__section .form__section--container h1 {
  font-weight: 800;
  font-size: 2em;
  line-height: 100%;
  margin-bottom: 6%;
}

.section__container--content .form__section .form__section--container label {
  color: #656565;
  align-self: end;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input {
  border: 1px solid #cacaca;
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input--error {
  border-radius: 2px;
  outline: none;
  padding: 6px;
  font-size: 1.1em;
  margin-bottom: 2.5%;
  border: 1px solid #e36262;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input--placeholder--error::-webkit-input-placeholder {
  font-size: 12px;
}

.section__container--content
  .form__section
  .form__section--container
  .form__element--input--error::placeholder {
  color: #e36262;
}

.form__section .form__section--container .form__section__grid--inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
}

.form__section .form__section--container .form__section__grid--inputs label {
  align-self: center;
  height: 45%;
  margin-left: 2px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--date {
  background-image: url('../assets/vectors/calendar_icon_placeholder.png');
  background-repeat: no-repeat;
  background-position: 96%;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 96%;
}

.form__section__grid--inputs
  .input--date--error::-webkit-datetime-edit-day-field,
.form__section__grid--inputs
  .input--date--error::-webkit-datetime-edit-month-field,
.form__section__grid--inputs
  .input--date--error::-webkit-datetime-edit-year-field,
.form__section__grid--inputs .input--date--error::-webkit-datetime-edit-text {
  color: #e36262;
}

.form__section__grid--inputs .input--date::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0;
  width: 11.6%;
  height: 3.1%;
  left: 54.8%;
  position: absolute;
}

.form__section__grid--inputs .input--date::-webkit-inner-spin-button {
  display: none;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .select--city {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  border: 1px solid #cacaca;
  border-radius: 2px;
  width: 96%;
  outline: none;
  font-size: 1em;
  padding: 2px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .div--button__script {
  display: flex;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .div--button__script
  img {
  width: 24px;
  height: 17px;
  align-self: center;
  margin-left: 14%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--value {
  width: 40%;
  height: 100%;
  background-color: white;
  border: none;
  padding-left: 18%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .form__element--button {
  cursor: pointer;
  width: 14%;
  height: 74%;
  align-self: center;

  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 2px;
  font-weight: 600;
  color: #136299;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .form__element--labelPlaceholder {
  position: absolute;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .label--minPricePlaceholder {
  left: 740px;
  top: 554px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .label--maxPricePlaceholder {
  left: 918px;
  top: 554px;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--minPrice {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 96%;
  padding-left: 14%;
}

.form__section
  .form__section--container
  .form__section__grid--inputs
  .input--maxPrice {
  grid-column: 2;
  grid-row: 2;
  height: 100%;
  width: 96%;
  padding-left: 14%;
}

.form__section .form__section--container .form__element--finish__button {
  cursor: pointer;
  width: 35%;
  padding: 2%;
  background-color: #136299;
  margin-top: 4%;
  color: #fff;
  border: none;
  font-weight: bold;
  letter-spacing: 1.25px;
  font-family: 'Roboto';
  font-size: 16px;
  outline: none;
  align-self: flex-end;
  display: disabled;
}

.container__confirm--submit {
  user-select: none;
  position: absolute;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.container__confirm--submit p {
  margin-top: 18%;
  font-size: 20px;
}

.container__confirm--submit .external__circle {
  position: absolute;
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  width: 12%;
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spinHourly 1.5s infinite;
}

.container__confirm--submit .internal__circle {
  position: absolute;
  border-top: 4px solid transparent;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 50%;
  width: 8%;
  height: 16%;
  transition: 300ms;
  animation: spinHourly 1.5s infinite reverse;
}

.container__confirm--submit img {
  width: 80px;
}
#success p,
#failure p {
  text-align: center;
  margin-top: 50px;
}

/* ----------------------------------------------------- */
/* ------ ESTILIZAÇÃO SEGUNDA SECTION (2ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section1__container {
  display: var(--section-1-display);
  justify-content: var(--section-1-justify);
  margin-top: 7%;
  height: 24.17%;
}

.section1__container .container__description__left--section {
  margin: 8% 6% 7% 6%;
  width: 35%;
}

.section1__container .container__description__left--section h1 {
  font-size: var(--section-1-h1-size);
  font-weight: 800;
  color: #136299;
  line-height: 50px;
}

.section1__container .container__description__left--section p {
  color: #000;
  font-size: var(--section-1-p-size);
  line-height: 40px;
  font-weight: 200;
}

.container__description__right--section {
  width: 50%;
  margin-top: 2%;
}

/* ----------------------------------------------------- */
/* ----- ESTILIZAÇÃO TERCEIRA SECTION (3ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section2__container {
  display: flex;
  justify-content: var(--section-2-justify);
  padding: 0 5%;
}

.section2__container .content__square__icon--card {
  width: var(--section-2-square-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section2__container .content__square__icon--card h1 {
  margin-top: 44px;
  font-size: var(--section-2-square-h1-size);
  color: #136299;
  line-height: 50px;
  font-weight: 800;
}

.section2__container .content__square__icon--card p {
  font-size: var(--section-2-square-p-size);
  line-height: 16px;
}

/* ----------------------------------------------------- */
/* ----- ESTILIZAÇÃO QUARTA SECTION (4ª SEÇÃO) ------- */
/* ----------------------------------------------------- */

.section3__container {
  margin-top: 11%;
  background-color: #136299;
  display: var(--section-3-display);
  justify-content: space-between;
  padding: var(--section-3-padding);
}

.section3__container .section__form {
  width: var(--section-3-form-width);
  display: flex;
  flex-direction: column;
}

.section3__container .section__form h1 {
  color: #fff;
  font-size: var(--section-3-form-h1-size);
}

.section3__container .section__form h3 {
  color: #fff;
  font-size: var(--section-3-form-h3-size);
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: bold;
  line-height: 40px;
}

.section3__container .section__form label {
  color: white;
  margin-bottom: 6px;
  font-size: 14px;
}

.section3__container .section__form input {
  height: 38px;
  width: 80%;
  border: 2px solid #cccccc;
  border-radius: 2px;
  outline: none;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 20px;
}

.section3__container .section__form textarea {
  resize: none;
  width: 80%;
  outline: none;
  padding: 6px;
  height: 72px;
  border: 2px solid #cccccc;
  border-radius: 2px;
  margin-bottom: 47px;
}

.section3__container .section__form .form__submit {
  width: 136px;
  border: none;
  background-color: #fff;
  height: 33px;
  color: #2f1f2b;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.section3__container img {
  margin-top: var(--section-3-img-mt);
  width: var(--section-3-img-width);
  height: var(--section-3-img-height);
}

/* ----------------------------------------------------- */
/* ------ ESTILIZAÇÃO FOOTER SECTION (5ª SEÇÃO) -------- */
/* ----------------------------------------------------- */

.footer__container {
  background-color: #292929;
  display: flex;
  justify-content: space-between;
  padding: var(--footer-padding);
}

.footer__container .contact {
  width: 50%;
}

.footer__container .contact .info-icon-container {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.footer__container .contact .info-icon-container img {
  width: 35px;
}

.footer__container .contact .info-icon-container p {
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
  font-weight: bold;
}

.footer__container .about {
  width: 50%;
  padding-right: 100px;
}

.footer__container .about p {
  color: #6c7175;
  font-size: 18px;
  margin: 30px 0;
}

.footer__container .about p:first-of-type {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.footer__container .about .icons-container img {
  width: 45px;
  margin-right: 15px;
}
